{{!-- <header local-class="header {{if @hero "hero"}}"> --}}
<header local-class="header {{false}}">
  <div local-class="header-inner">
    <LinkTo @route="index" local-class="index-link">
      <img src="/assets/cargo.png" role="none" alt="" local-class="logo">
      <h1>rustacean.info</h1>
    </LinkTo>

    <div local-class="search-form">
      {{!-- <h1 local-class="hero-title">
        The Rust community&rsquo;s crate registry
      </h1> --}}

      {{!-- <SearchForm @size={{if @hero "big"}} /> --}}
      <SearchForm @size={{false}} />
    </div>

    <nav local-class='nav'>
      <LinkTo @route="crates" @query={{hash letter=null page=1}} data-test-all-crates-link>
        Browse All Crates
      </LinkTo>
    </nav>

    <div local-class='menu'>
      <Dropdown as |dd|>
        <dd.Trigger local-class="dropdown-button">
          Menu
        </dd.Trigger>
        <dd.Menu local-class="current-user-links" as |menu|>
          <menu.Item><LinkTo @route="crates">Browse All Crates</LinkTo></menu.Item>
        </dd.Menu>
      </Dropdown>
    </div>
  </div>
</header>