<div local-class="blog-row" ...attributes>
  <a local-class="title" href={{@link}}>
    {{@title}}
  </a>
  <div local-class="description {{@additional_class}}">
    {{@description}}
  </div>
  <div local-class="footer">
    <a local-class="author" href={{@author_link}} target="_blank">
      <img
        src={{@author_thumbnail}}
        title={{@author_name}}
        alt={{@author_name}}
        local-class="avatar"
        decoding="async"
        height="28"
        width="28"
      />
      <span>{{@author_name}}</span>
    </a>
    <span local-class="updated-at">&nbsp;&nbsp;·&nbsp;&nbsp;{{date-format  @updated_at 'MMMM d, y' addSuffix=true}}</span>
  </div>
</div>