<div local-class='lists' data-test-lists>
  <section data-test-new-crates >
    <div local-class="logo-div">
      <img src="/assets/ferris.png" role="none" alt="" local-class="logo">
    </div>
    <h1 local-class="hero-title">
      Your daily dose of Rust
    </h1>
    <ol local-class="list" aria-busy="{{this.dataTask.isRunning}}">
      {{#if this.dataTask.isRunning}}
        {{#each (placeholders 100)}}
          <li>
            <FrontPageList::Item::Placeholder @withSubtitle={{true}} />
          </li>
        {{/each}}
      {{else}}
        {{#each this.model as |article index|}}
          <li>
            <FrontPageList::Item
              @link={{article.link}}
              @title={{article.title}}
              @crate_link={{article.crate_link}}
              @crate_name={{article.crate_name}}
              data-test-crate-link={{index}}
            />
          </li>
        {{/each}}
      {{/if}}
    </ol>
  </section>
</div>