<div local-class='lists' data-test-lists>
  <section data-test-new-crates >
    <div local-class="logo-div">
      <img src="/assets/ferris.png" role="none" alt="" local-class="logo">
    </div>
    <h1 local-class="hero-title">
      Your daily dose of Rust
    </h1>
    <ol local-class="list-blog" aria-busy="{{this.dataTask.isRunning}}">
      {{#if this.dataTask.isRunning}}
      {{else}}
        {{#each-in this.model.issues as |blog_slug blog|}}
          <li>
            <FrontPageList::Blog
              @link={{link "blog-post" blog_slug}}
              @title={{blog.title}}
              @description={{blog.description}}
              @author_link={{blog.author_link}}
              @author_name={{blog.author_name}}
              @author_thumbnail={{blog.author_thumbnail}}
              @updated_at={{blog.updated_at}}
              @additional_class="description-clipped"
            />
          </li>
        {{/each-in}}
      {{/if}}
    </ol>
    <ol local-class="list" aria-busy="{{this.dataTask.isRunning}}">
      {{#if this.dataTask.isRunning}}
        {{#each (placeholders 100)}}
          <li>
            <FrontPageList::Item::Placeholder @withSubtitle={{true}} />
          </li>
        {{/each}}
      {{else}}
        {{#each this.model.data as |article index|}}
          <li>
            <FrontPageList::Item
              @link={{article.link}}
              @title={{article.title}}
              @crate_link={{article.crate_link}}
              @crate_name={{article.crate_name}}
              data-test-crate-link={{index}}
            />
          </li>
        {{/each}}
      {{/if}}
    </ol>
  </section>
</div>